// typography
$header-font: 'Montserrat', Helvetica, Arial, sans-serif;
$body-font: 'Karla', Helvetica, Arial, sans-serif;
$emphasis-font: 'Karla', Helvetica, Arial, sans-serif;

body {
	color: $text-color;
	font: 400 12px $body-font;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}