.blue-text {
	color: $blue;
}
.green-text {
	color: $green;
}
.orange-text {
	color: $orange;
}
.yellow-text {
	color: $yellow;
}
.white-text {
	color: $white;
}

.blue-bg {
	background-color: $blue;
}
.green-bg {
	background-color: $green;
}
.orange-bg {
	background-color: $orange;
}
.yellow-bg {
	background-color: $yellow;
}
.light-bg {
	background-color: $light;
}