// primary site colors
$blue: #479997;
$green: #82B242;
$orange: #E9AE4A;
$yellow: #F3EB02;
$light: #E4E5E7;

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696; 
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);

$text-color: $grey-super-dark;