// primary site colors
$blue: #95D1DA;
$green: #72B29A;
$blue-light: #E2F5F5;
$green-light: #9AE3BC;
$light: #F3F8F3;
$med: darken($light, 5%);

$red-light: #FFE4E1;
$red: #B3432B;

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696; 
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);

$text-color: darken($blue, 50%);