homepage {
	text-align: center;
	width: 80%;

	logo {
		margin-bottom: 1.5em;
	}
	input[type=text] {
		background: $med;
		padding: .5em 1.25em;
		width: 20em;
		max-width: 74%;
		outline: none;
	}
	button {
		background: $green;
		color: $white;
		padding: .5em 0;
		width: 3em;
		max-width: 25%;
	}
	specific_time {
		margin: 2em 0;
		display: block;
	}
	when {
		margin: 2em 2em 2em 0;

		input[type=radio] {
			background: red;
		}
		button {
			background: $white;
			color: $text-color;
			font-weight: 700;
			padding: .5em 1em;
			width: auto;

			&:last-of-type {
				margin-left: 1em;
			}
			&.selected {
				background: $blue;
				color: $white;
			}
		}
	}
	modes {
		display: block;
		margin-bottom: 2em;

		a {
			background: $white;
			display: inline-block;
			font-weight: 700;
			padding: .75em 1em .5em;

			i.material-icons {
				display: block;
				font-size: 3em;
				margin-bottom: .15em;
			}
			&:first-of-type {
				margin-right: 1em;
			}
			&.active {
				background: $green;
				color: $white;
			}
			&:hover {
				background: lighten($blue, 5%);
				color: $white;
			}
		}
	}
}