new {
	width: 70%;

	#map, input[type=text], i {
		margin-top: 10px;
	}
	#map {
		height: 275px;
		width: 100%;
	}
	h1 a {
		color: $white;
	}
	form {
		button {
			background: $green;
			color: $white;
			font-size: 1.15em;
			font-weight: 700;
			margin-top: 1.75em;
			padding: 0 .75em;
			text-transform: uppercase;

			&[disabled] {
				background: $grey;
			}
		}
		label {
			color: $white;
			display: block;
			font-size: 1.5em;
			margin-top: 1em;
		}
		input {
			display: inline-block;
			padding: 0 1em;
			width: 90%
		}
		i {
			background: $orange;
			color: $white;
			display: inline-block;
			height: 2em;
			line-height: 2em !important;
			width: 10%;
			vertical-align: top;
			text-align: center;
		}
	}
}